USE [master]
GO
/****** Object:  Database [AI_Agent]    Script Date: 2026-04-02 12:12:36 ******/
CREATE DATABASE [AI_Agent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AI_Agent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AI_Agent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AI_Agent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AI_Agent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AI_Agent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AI_Agent]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 2026-04-02 12:12:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_no] [nvarchar](50) NOT NULL,
	[client_name] [nvarchar](100) NOT NULL,
	[state] [int] NOT NULL,
	[mark] [int] NOT NULL,
	[remark] [nvarchar](500) NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[create_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_User]    Script Date: 2026-04-02 12:12:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[login_name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[state] [int] NOT NULL,
	[create_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([id], [order_no], [client_name], [state], [mark], [remark], [total_amount], [create_time]) VALUES (1, N'SO202604020001', N'成都天府电子有限公司', 0, 1, N'', CAST(188.52 AS Decimal(18, 2)), CAST(N'2026-03-21T12:05:33.250' AS DateTime))
INSERT [dbo].[tb_Order] ([id], [order_no], [client_name], [state], [mark], [remark], [total_amount], [create_time]) VALUES (2, N'SO202604020002', N'深圳鹏程物流有限公司', 0, 1, N'', CAST(2895.33 AS Decimal(18, 2)), CAST(N'2026-03-25T12:05:33.253' AS DateTime))
INSERT [dbo].[tb_Order] ([id], [order_no], [client_name], [state], [mark], [remark], [total_amount], [create_time]) VALUES (3, N'SO202604020003', N'成都天府电子有限公司', 0, 1, N'', CAST(1126.47 AS Decimal(18, 2)), CAST(N'2026-03-30T12:05:33.253' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_User] ON 

INSERT [dbo].[tb_User] ([id], [user_name], [login_name], [phone], [state], [create_time]) VALUES (1, N'张伟', N'zhangwei', N'13810234567', 0, CAST(N'2026-03-31T12:04:20.917' AS DateTime))
INSERT [dbo].[tb_User] ([id], [user_name], [login_name], [phone], [state], [create_time]) VALUES (2, N'王磊', N'wanglei', N'13811223344', 0, CAST(N'2026-03-28T12:04:20.917' AS DateTime))
INSERT [dbo].[tb_User] ([id], [user_name], [login_name], [phone], [state], [create_time]) VALUES (3, N'李娜', N'lina', N'13822334455', 0, CAST(N'2026-03-25T12:04:20.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_User] OFF
GO
/****** Object:  Index [IX_tb_Order_mark]    Script Date: 2026-04-02 12:12:36 ******/
CREATE NONCLUSTERED INDEX [IX_tb_Order_mark] ON [dbo].[tb_Order]
(
	[mark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tb_Order_order_no]    Script Date: 2026-04-02 12:12:36 ******/
CREATE NONCLUSTERED INDEX [IX_tb_Order_order_no] ON [dbo].[tb_Order]
(
	[order_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tb_Order_state]    Script Date: 2026-04-02 12:12:36 ******/
CREATE NONCLUSTERED INDEX [IX_tb_Order_state] ON [dbo].[tb_Order]
(
	[state] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tb_User_login_name]    Script Date: 2026-04-02 12:12:36 ******/
CREATE NONCLUSTERED INDEX [IX_tb_User_login_name] ON [dbo].[tb_User]
(
	[login_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((1)) FOR [mark]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[tb_User] ADD  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[tb_User] ADD  DEFAULT (getdate()) FOR [create_time]
GO
USE [master]
GO
